

/* On peut s'attaquer à définir quelques styles globaux pour tout le design de notre page. 
/* On va définir une image de fond, une police et une couleur de texte par défaut  */
body, nav, header, footer, nav a
 {

  font :  sofia-pro, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  
}

body {
    
   
    
    font: 18px/32px sofia-pro, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    margin: 0; /* enleve les marges du body pour avoir un header colé avec le withd auto */
   
}

#bloc_page   
{

  height: 668px; 
  background-image: url("ilufive.png");
  background-repeat: no-repeat;
    
}

 
header {
  background-color: #0E0C1D;
  width:auto;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 20px;

} 



.logoi img {
padding-left: 15px;  
height: 50px;
}

/* Navigation */

nav {
  margin-top: 15px;

}

nav ul
{
    list-style-type: none;
    display: flex;
    
    
}

nav li
{
    margin-right: 15px;
    
}

nav a
{
    font-size: 0.9em;
    color: #c9c0c0;
    padding-bottom: 3px;
    text-decoration: none;
    
}

nav a:hover
{
    color: #ffffff;
    border-bottom: 3px solid #ffffff;
}
 

.buttonbeta {
 
  
  background-image: linear-gradient(rgb(39, 34, 89), rgb(18, 11, 40));
  color:#c9c0c0;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  
}

.border-gradient {
  border: 1px solid;
  border-image-slice: 1;
  border-width: 1px;
}
.border-gradient-purple {
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}

 
h1 {
  text-shadow: rgb(125 155 232) 0px 1px 0px, rgb(171 84 244 / 72%) 0px -4px 16px;
  line-height: 1.5;
  font: 48px/72px sofia-pro, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  position: absolute; /* postulat de départ */
  top: 50%; left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
  color:rgb(255, 255, 255);

}


h2 {
  font: 23px/47px sofia-pro, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  position: absolute; /* postulat de départ */
  top: 50%; left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, +80%); /* décalage de 50% de sa propre taille */
  color:rgb(255, 255, 255)
}




.enteremail {
    font: 18px/42px sofia-pro, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    position: absolute; /* postulat de départ */
    top: 50%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-70%, +205%); /* décalage de 50% de sa propre taille */
    color:rgb(255, 255, 255)
}


input {
    background-color: black;
    opacity: 0.4;
    background-size: 80px/80px;
}

.button {
    font: 18px/42px sofia-pro, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    position: absolute; /* postulat de départ */
    top: 50%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(+95%, +204%); /* décalage de 50% de sa propre taille */
    color:rgb(255, 255, 255);
    background-image: linear-gradient(rgb(39, 34, 89), rgb(18, 11, 40));
   
}


#bloc_pagedeux {
  height: 668px; 
  background-image: url("ilusix.png");
  background-repeat: no-repeat;
  width: auto;
 
}







